name: ci

on:
  push:
    paths:
    - "**.py"
    - .github/workflows/ci.yml

jobs:

  full:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} Python ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-latest]
        include:
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.14'

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install poetry

    - run: poetry install --with dev

    - run: poetry run flake8
    - run: poetry run mypy

    - run: poetry run pytest
